// Define variables for your color scheme

// Text
$title: #171417;
$paragraph: #171417;
$light-title: #FFFFFD;
$light-paragraph: #FFFFFD;

//Background
$background: #FAD033;
$light-background: #FFFFFD;
$dark-background: #171417;

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: orange;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
