<div class="mycard">
  <img class="card-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-content">
    <div class="card-content-left">
      <h2><%= rental.bike.name.titleize %></h2>
      <p>small content</p>
    </div>

    <div class="card-content-right">
      <h2>Toto</h2>
      <p>small content</p>
    </div>
  </div>
</div>
