<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container border-top">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-2x fa-search-location"></i>
    <% end %>

    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-2x fa-bicycle"></i>
    <% end %>

    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-2x fa-user"></i>
    <% end %>
  </div>

</div>
