<div class="rentalcard yellow-border mg-cards w-80 bg-secondary">
  <div class="row justify-content-between align-item-center">
    <div class="col">
      <%= cl_image_tag rental.bike.photo.key, height: 120, width: 120, crop: :fill %>
    </div>

    <div class="card-content-right">
      <h2>Toto</h2>
      <p><%= rental.end_date.strftime("%e %b %Y") %></p>
      <p><%= rental.end_date.strftime("%H:%M") %></p>
    </div>
  </div>
</div>
