<%= render 'shared/top_navbar', title: 'All my rentals!' %>
<div class="container bottom-spacer">
  <!-- How to add ynamically user name? -->
  <div class="row justify-content-center pt-2">
    <div class="col">
      <% @rentals.each do |rental| %>
        <%= render 'rental_card', rental: rental %>
      <% end %>
    </div>
  </div>
</div>
