<div class="container">
  <h1 class="main-title">Here your rentals!</h1>
  <!-- How to add ynamically user name? -->
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <% @rentals.each do |rental| %>
      <%= render 'rental_card', rental: rental %>
      <% end %>
    </div>
  </div>
</div>

