<div class="container">
  <h2 class="main-title">Here are your rentals!</h2>
  <!-- How to add ynamically user name? -->
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <% @rentals.each do |rental| %>
        <%= render 'rental_card', rental: rental %>
      <% end %>
    </div>
  </div>
</div>
