<div class="container">
  <form action="/search" method="get">
    <label for="location">Where do you want a bike ?</label>
    <input type="text" name="where">
    <input type="submit" value="search">
  </form>
</div>
