<div class='root'>
  <nav class="navbar navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1 text-secondary mx-auto border-bottom border-secondary">Biclou</span>
  </nav>
  <div class="d-flex pt vh-100">
    <div class="container w-75">
      <div>
        <h2>Rent bikes by the hour or day!</h2>
        <h6>All you need is a bike</h6>
        <form action="/search" method="get">
          <div class="form-group my-auto">
            <input placeholder="Find a bike" type="text" name="where" class="form-control my-2">
            <input class="btn btn-primary my-2" type="submit" value="search">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
