<div class="container">
  <div class="home-container">
<!--     <div class="top-page"> -->
      <h2>Rent cars by the hour or day!</h2>
      <h6>All you need is a bike</h6>
      <form action="/search" method="get">
        <input placeholder="Find a bike" type="text" name="where">
        <input class="btn btn-outline-secondary" type="submit" value="search">
      </form>
   <!--  </div> -->
  </div>
</div>
