<div class="d-flex align-items-center vh-100">
  <div class="container w-75">
      <h2>Rent cars by the hour or day!</h2>
      <h6>All you need is a bike</h6>
      <form action="/search" method="get">
        <div class="form-group my-auto">
          <input type="text" name="where" class="form-control my-2 bottom-line-input" id="home-search">
          <input class="btn btn-primary my-2" type="submit" value="search">
        </div>
    </form>
  </div>
</div>
