<div class="mycard">
  <%= cl_image_tag bike.photo.key, height: 120, width: 120, crop: :fill %>
  <div class="card-content">
    <div class="card-content-left">
      <h3><%= bike.name %></h3>
      <p><%= bike.description %></p>
    </div>
    <div class="card-content-right">
      <h4><%= bike.price_per_hour %></h4>
    </div>


  </div>
</div>
