<div class="card w-100 bg-secondary">
  <div class="row">
    <div cla<div class="c"><%= cl_image_tag bike.photo.key, height: 120, width: 120, crop: :fill %></div>, crop: :fill %>
    </div>
    <div class="col">
      <h3><%= bike.name %></h3>
      <p><%= bike.description %></p>
    </div>
    <div class="col">
      <h4><%= bike.price_per_hour %></h4>
    </div>
  </div>
</div>
