


<div class="container">
  <h1>Here are your bikes!</h1>
  <div class="dash-border border-primary rounded d-flex p-3 justify-content-center align-items-center my-1">
    <%= link_to new_bike_path do %>
        <i class="fas fa-plus-square fa-2x"></i>
    <% end %>
  </div>
  <% @bikes.each do |bike| %>
    <%= render 'my_bike_card', bike: bike %>
  <% end %>
</div>
