<div class="container">
  <h2 class="main-title">Choose your ride !</h2>
  <!-- How to add ynamically user name? -->
  <div class="row justify-content-center">
    <div class="col col-lg-6">

<% @bikes.each do |bike| %>
  <%= link_to new_bike_rental_path(bike) do %>
    <%= render 'search_card', bike: bike %>
  <% end %>
<% end %>

  </div>
</div>
