<nav class="navbar navbar-light bg-primary">
  <span class="navbar-brand mb-0 h1 text-info mx-auto border-bottom border-info">Choose your ride !</span>
</nav>
<div class="container bottom-spacer">
  <!-- How to add ynamically user name? -->
    <div class="row justify-content-center pt-small">
      <div class="col">
      <% @bikes.each do |bike| %>
        <%= link_to new_bike_rental_path(bike) do %>
          <%= render 'search_card', bike: bike %>
        <% end %>
      <% end %>
    </div>
</div>
