.mycard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 20px 0px;
  width: 430px;
}

.card-image {
  height: 100%;
  width: 120px;
  position: relative;
}

.card-content {
  height: 100%;
  width: 100%;
  border: 10px;
  border-color: orange;
  position: relative;
  background-color: $background;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

// .card-title-left {
//   justify-content: left;
//   position: absolute;
//   top: 10px;
//   left: 10px;
// }

.card-content-right {
  justify-content: right;
  width: 50%;
  // position: absolute;
  // bottom: 10px;
  // right: 30px;
  p {
    margin: 0;
    color: $paragraph;
  }
  h2 {
    color: $title;
  }
}


// .card-title-right {
//   justify-content: left;
//   position: absolute;
//   top: 10px;
//   right: 10px;
// }


.card-content-left {
  justify-content: left;
  width: 50%;
  // position: absolute;
  // bottom: 10px;
  // left: 30px;
  p {
    margin: 0;
    color: $paragraph;
  }
  h2 {
    color: $title;
  }
}



// .card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card .card-infos {
//   padding: 16px;
// }
